@charset "utf-8";

/*
----------------------------------------------
debug CSS

Created Date : 2009/05/18
Author: Yu Uno
Last Up Date : 2009/05/18
Author: Yu Uno
----------------------------------------------
*/


/*clearfix
----------------------------------------------*/
.clearfix,
ul,
ul li,
ol,
#hdr,
#continer,
#wrap,
.section,
.inner,
#profColumn #owner {
    zoom:1;/*for IE 5.5-7*/
}
.clearfix:after,
ul:after,
ul li:after,
ol.numberList:after,
#hdr:after,
#continer:after,
#wrap:after,
.section:after,
.inner:after,
#profColumn #owner:after {/*for modern browser*/
    content:".";
    display: block;
    height:0px;
    clear:both;
    visibility:hidden;
}

